<section class="diagram">
    <form id="inputForm" method="get">
        {? if loggedIn:
            <div>
                <input type="text" name="name" placeholder="Name" value="{{ name }}" />
                <input type="submit" name="save" value="Save" formmethod="post" />
            </div>
        ?}
        {? if errors:
            <ul class="error">
                {? for error in errors:
                    <li>{{ error }}</li>
                ?}
            </ul>
        ?}
        <textarea name="umls">{{ umls }}</textarea>
        <input type="submit" name="render" value="Render" />
    </form>
    <script>
        function onSubmit() {
            // Fix pluses which otherwise would be converted to spaces by PHP
            var textarea = document.querySelector('textarea[name="umls"]');
            textarea.textContent = textarea.textContent.replace(/\+/g, '%2B');
        }

        document.querySelector('#inputForm').onsubmit = onSubmit;
    </script>
    <div class="render">
        {? if diagram:
            {% view diagram %}
            <div class="link">
                <span class="fa fa-link"></span>
                <a href="{{ fileUrl }}?{{ fileGetVariable }}={{ encodedUmls }}">Image Link</a>
            </div>
        ?}
    </div>
</section>
