<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>UMLS</title>
        <link rel="stylesheet" href="/static/styles/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,500,700' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Halant' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <header>
            <section class="logo">
                <a href="{{ indexUrl }}">
                    <span class="uml">UML</span>S
                </a>
            </section>
            <section class="auth">{% view auth %}</section>
        </header>
        <main>{% view main %}</main>
    </body>
</html>
