<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>UMLS</title>
        <link href="/static/styles/main.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,500,700" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Halant" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <section class="logo">
                <a href="{{ indexUrl }}">
                    <span class="uml">UML</span>S
                </a>
            </section>
            <section class="auth">{% view auth %}</section>
        </header>
        <main>{% view main %}</main>
        <script type="application/javascript">
            window.onload = function() {
                var main = document.querySelector('body>main');
                var section = document.querySelector('body>main>section');

                if (main.offsetHeight > section.offsetHeight) {
                    console.log('Your browser sucks and I now have to do a f\'ugly workaround' +
                                'for one of its many bugs.');

                    section.style.height = main.offsetHeight + 'px';
                }
            };
        </script>
    </body>
</html>
