@mixin center-vertically {
    display: flex;
    align-items: center;
    text-align: center;

    height: 100%;
}

@mixin header-link {
    display: block;

    box-sizing: border-box;
    padding: 0 2rem;
    height: 4rem;

    color: white;
    background-color: transparent;
    border: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    font-size: 1rem;
    text-decoration: none;
    line-height: 3.75rem;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.error {
    color: darkred;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
}

body, input {
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    box-sizing: border-box;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    height: 4rem;

    color: white;
    background-color: #005580;

    overflow: hidden;

    section:not(.logo) a { @include header-link }

    section.logo {
        @include center-vertically;

        float: left;

        font-size: 2.5rem;
        font-weight: 300;

        a {
            color: white;
            text-decoration: none;
        }

        .uml {
            font-weight: 500;
        }
    }

    section.auth {
        float: right;
        display: flex;
        height: 100%;

        p {
            @include center-vertically;

            margin: 0;
            padding-right: 1rem;
            max-width: 15rem;

            &.username {
                font-weight: 500;
            }
        }

        form {

            section.credentials {
                float: left;

                input {
                    display: block;
                    margin: 0.3rem;
                    padding: 0.15rem 0.5rem;
                }
            }

            input[type="submit"] { @include header-link }
        }

        form + a, a + form input[type="submit"] {
            border-left: none;
        }
    }
}

main {
    position: relative;

    flex-grow: 1;
    width: 100%;

    section.register {
        display: flex;
        justify-content: space-around;

        form, article {
            padding: 5rem;
        }

        form {
            label {
                display: block;

                padding: 1rem;
                width: 20rem;

                font-weight: 500;

                input {
                    float: right;
                }
            }

            input[type="submit"] {
                margin-top: 3rem;

                width: 100%;
                height: 4rem;
            }
        }

        article {
            width: 30rem;

            text-align: center;

            p {
                font-family: 'Halant', serif;
            }
        }
    }

    section.diagram {
        textarea {
            position: absolute;
            top: 0;
            left: 0;

            padding: 10px 10px 100px;
            box-sizing: border-box;
            width: 35%;
            height: 100%;

            font-family: monospace;
        }

        input[type="submit"] {
            position: absolute;
            left: 0;
            bottom: 0;

            height: 100px;
            width: 35%;
        }

        svg {
            position: absolute;
            top: 0;
            left: 35%;

            padding: 10px;
            box-sizing: border-box;
            width: 65%;
            height: 100%;

            font-family: monospace;
        }
    }
}
