@font-face {
    font-family: 'DejaVu Sans Mono';
    src: local('DejaVu Sans Mono'),
         url('fonts/DejaVuSansMono.woff') format('woff'),
         url('fonts/DejaVuSansMono.ttf') format('truetype');
}

@mixin center-vertically {
    display: flex;
    align-items: center;
    text-align: center;

    height: 100%;
}

@mixin header-link {
    display: table-cell;

    box-sizing: border-box;
    padding: 0 2rem;
    height: 4rem;

    color: white;
    background-color: transparent;
    border: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    font-size: 1rem;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

@mixin bar {
    width: 100%;
    height: 4rem;

    color: white;
    background-color: #005580;

    overflow: hidden;
}

.error {
    color: darkred;

    -webkit-animation: errorAlert 2s ease;
    animation: errorAlert 2s ease;
}


input[type="text"]:active, input[type="text"]:focus,
textarea:active, textarea:focus {
    outline: none; // Fix border in chrome
}

@-webkit-keyframes errorAlert {
    0% {
        color: red;
        text-shadow: 0 0 10px darkred;
    }
    100% {
        color: darkred;
        text-shadow: none;
    }
}

@keyframes errorAlert {
    0% {
        color: red;
        text-shadow: 0 0 10px darkred;
    }
    100% {
        color: darkred;
        text-shadow: none;
    }
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
}

body, input {
    font-family: 'Alegreya Sans SC', sans-serif;
}

p {
    font-family: 'Halant', serif;
}

input {
    border: 1px solid gray;

    &[type="submit"] {
        background-color: whitesmoke;
    }
}

body {
    display: flex;
    flex-direction: column;
}

header {
    @include bar;

    box-sizing: border-box;
    padding-left: 4rem;
    padding-right: 4rem;

    section {
        display: table; // Fix centering of links in Chrome
    }

    section:not(.logo) a { @include header-link }

    section.logo {
        @include center-vertically;

        float: left;

        font-size: 2.5rem;
        font-weight: 300;

        a {
            padding-left: 45px;

            color: white;
            background: url("/static/logo.svg") no-repeat;
            background-size: contain;
            text-decoration: none;
        }

        .uml {
            font-weight: 500;
        }
    }

    section.auth {
        float: right;
        height: 100%;

        span {
            display:table-cell;

            margin: 0;
            padding-right: 1rem;
            max-width: 15rem;

            vertical-align: middle;

            &.username {
                font-weight: 500;
            }
        }

        form {

            section.credentials {
                float: left;

                input {
                    display: block;
                    margin: 0.3rem;
                    padding: 0.15rem 0.5rem;
                    box-sizing: border-box;
                    height: 1.55rem;
                }
            }

            input[type="submit"] {
                @include header-link;

                float: right;
            }
        }

        form + a, a + form input[type="submit"] {
            border-left: none;
        }
    }
}

main {
    position: relative;

    flex-grow: 1;
    width: 100%;

    section {
        height: 100%;
    }

    section.register {
        display: flex;
        justify-content: space-around;

        form, article {
            padding: 5rem;
        }

        form {
            label {
                display: block;

                padding: 1rem;
                width: 20rem;

                font-weight: 500;

                input {
                    float: right;
                }
            }

            input[type="submit"] {
                margin-top: 3rem;

                width: 100%;
                height: 4rem;
            }
        }

        article {
            width: 30rem;

            text-align: center;
        }
    }

    section.diagram {

        form {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 100%;

            div {
                @include bar;

                display: flex;
                flex-direction: row;

                height: 2rem;

                input {
                    border: none;
                    border-radius: 0;

                    &[type="text"] {
                        flex-grow: 1;
                        padding: 0 1rem;
                        background-color: whitesmoke;
                    }

                    &[type="submit"] {
                        @include header-link;

                        height: 100%;
                        line-height: inherit;
                    }
                }
            }

            textarea {
                flex-grow: 1;

                margin: 0;
                box-sizing: border-box;
                padding: 10px 10px 100px;
                width: 100%;
                border: none;

                font-family: "DejaVu Sans Mono" monospace;
                resize: none;
            }

            input[type="submit"][value="Render"] {
                width: 100%;
                height: 100px;
            }
        }

        div.render {
            position: absolute;
            top: 0;
            left: 35%;

            padding: 1rem;
            box-sizing: border-box;
            width: 65%;
            height: 100%;

            overflow: auto;

            .link {
                position: fixed;
                bottom: 1rem;
                left: 35%;
                padding-left: 1rem;

                color: dodgerblue;

                a {
                    color: dodgerblue;
                    text-decoration: none;
                }
            }
        }
    }

    section.myDiagrams ul {
        margin: 0;
        padding: 0;
        width: 35%;
        height: 100%;
        background-color: whitesmoke;

        li {
            position: relative;

            a {
                display: block;
                padding: 1rem 2rem;

                color: darkslategray;
                text-decoration: none;

                &:hover {
                    font-weight: 500;
                }
            }

            .hidden {
                position: absolute;
                top: 5px;

                transition: color 0.5s, opacity 0.5s;

                span, input, a {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 2rem;
                }

                span {
                    font-size: 1.3rem;
                    line-height: 2.1rem;

                    transition: transform 0.5s;

                    &.fa {
                        font-size: 1.1rem;
                    }
                }

                a, input {
                    display: block;
                    padding: 0;
                    max-width: 0;
                    overflow: hidden;

                    background: transparent;
                    border: none;

                    font-size: 13px;
                    font-weight: normal;
                    line-height: 2rem;
                    white-space: nowrap;

                    transition: color 0.5s, max-width 0.5s;
                }

                &:hover {
                    a, input {
                        padding-right: 1.1rem;
                        max-width: 15rem;

                        background: transparent;
                        cursor: pointer;
                    }
                }
            }

            .delete {
                right: 10px;
                z-index: 2;

                &:hover {
                    color: red;

                    span {
                        transform: rotate(-180deg);
                    }

                    input {
                        color: red;
                    }

                    &+.link {
                        opacity: 0;
                    }
                }
            }

            .link {
                right: 40px;
                z-index: 1;

                &:hover {
                    color: dodgerblue;

                    span {
                        transform: rotate(-180deg);
                    }

                    a {
                        color: dodgerblue;
                    }
                }
            }

            img {
                display: none;
                position: fixed;
                top: 4rem;
                left: 35%;

                padding: 1rem;
                box-sizing: border-box;
                max-width: 65%;
                max-height: calc(100% - 4rem);
            }

            &:hover img {
                display: block;
            }
        }

        li + li {
            border-top: 1px solid black;
        }
    }
}
